@font-face {
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css?family=Montserrat");
}body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/shop/src/img/aerial-view-computer-laptop-wooden-table-compressed.jpg");
    background-size: cover;
    
}
        
        p{
            font-size: 17.5px;
        }
        a{
            text-decoration: none;
        }
        /* Loader */
        .fade-out {
            opacity: 0;
            transition: all 1s ease-in-out;
        }
img {
    line-height : 0;
    vertical-align:bottom;
}

*,
*::after,
*::before {
box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
    /* ------------------------------ */
.refreshButton {
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.105vw 0.205vw #e2e2e2;
    background-color: white;
    width: 100%;
    height: 3vw;
    border-left: 0.6vw solid orange;
    border-radius: 0.315vw;
    font-weight: bolder;
    font-size: 1.1vw;
    line-height: 3vw;
    text-align: center;
    transition: 0.3s ease-in-out transform;
}

.refreshButton:hover {
    color: rgb(49, 33, 0);
    transition: 0.3s ease-in-out transform;
}
.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s;
}
.title:hover {
    cursor: default;
    font-size: 40px;
    transition: all 0.3s;
}
/* Contents */
.hoverable {
    color: black;
    cursor: default;
    text-decoration: none;
    transition: font-size 0.3s;
}
.hoverable a {
    color: black;
    text-decoration: none;
}
.hoverable:hover {
    text-decoration: none;
    font-size: 25px;
    transition: font-size 0.3s;
}
.b {
    text-align: center;
    height: max-content;
    width: max-content;
    border-radius: 5px;
}
.b:hover {
    cursor: pointer;
}
.b.mode {
    z-index: 4;
    position: absolute;
    margin: 0;
    right: 0;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    transition: all 0.3s;
}
.b.mode:hover {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    transition: all 0.3s;
}

.text-block {
    font-size: 3vw;
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    top: 0;
    text-align: center;
}
.text-block .CTA {
    font-size: 1vw;
}
.trapezoid{
    height: 100%;
    width: 48%;
    background: white;
    color: black;
    border-radius: 0 5px 5px 0;
}
.trapezoid:after{
    position: absolute;
    content: '';
    left: var(--MtrapeW);
    top: 0px;
    height: 100%;
    border-style: solid;
    border-color: white transparent white transparent;
    border-width: var(--trapeH) 0px 0px var(--trapeW);
}
.back-img{
    z-index: 2;
    position: relative;
    max-height: 60vh;
    width: 100%;
    overflow:hidden;
    border-radius: 5px;
    object-fit: cover; /* use the object-fit property to scale the image to fit the container element */
}
.no-back {
    background-color: transparent;

}
    .no-padding {
    padding: 0;
    }  
    .no-border {
    border: none;
    }
    .ub {
    position: absolute;
    bottom: 0;
    width: 100%;
    }
        /* ------------------------------ */

.copyrightIMG {
    opacity: 0.7;
    font-size: 10px;
    color: black;
    bottom: 0;
}
/* --------------------------------------------------------------- */

ul.top-items {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 45vh;
}
.top-items .item-1,
.top-items .item-2,
.top-items .item-3,
.top-items .item-4,
.top-items .item-5 {
    position: relative;
    flex: 0 0 20%;
    height: 100%;
    border: 1px solid black;
    transition: all 0.3s;
}

ul.top-items li {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-height: 45vh;
}

ul.top-items li .s-imgC {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

ul.top-items li .info {
    padding: 2.5%;
    height: 40%;
}
.top-items p {
    font-size: 2.5vh;
}

.top-items .name {
    font-weight: bold;
}

.top-items .s-imgC img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
    object-fit: contain; /* Scale the image up if it's too small */
}
.top-items .price {
    text-align: left;
}
.top-items .buy {
    position: absolute;
    bottom: .5vh;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 6.5vw;
    height: 3.5vh;
}
        /* dark mode */
        body.dark-mode  {
            background-color: black;
            color: white;
        }
        .dark-mode .hamburger-menu {
            background-color: rgb(36, 36, 36);
            color: white;
        }

        .dark-mode .content {
            background-color: rgba(50, 50, 50, 1);
            color: white;
            border-color:rgba(20, 20, 20, 1);
        }
        .dark-mode .b.mode {
            background-color: rgba(50, 50, 50, 1);
            border-color:rgba(20, 20, 20, 1);
            color: white;
            transition: all 0.3s;
        }
        .dark-mode .b.mode:hover {
            background-color: #444;
            border-color:rgba(20, 20, 20, 1);
            color: white;
            transition: all 0.3s;
        }
        .dark-mode .bar {
            background-color: white;
        }
        .dark-mode .menu-links{
            background-color: rgb(36, 36, 36);
        }
        .dark-mode .menu-links li a{
            color: white;
        }
        .dark-mode.menu-links.menu-open{
            background-color: rgb(36, 36, 36);
            color: white;
        }
        .dark-mode.parallelogram{
            border-bottom: 357.25px solid rgb(50, 50, 50);
            color: white;
        }
        .dark-mode .trapezoid {
            background-color: rgba(50, 50, 50, 1);
            color: white;
        }
        .dark-mode .trapezoid:after {
            border-color: rgba(50, 50, 50, 1) transparent rgba(50, 50, 50, 1) transparent;
        }
        .dark-mode .ub {
            color: orange;
        }
        .dark-mode .copyrightIMG {
            color: white;
        }
        .dark-mode .copyrightIMG a{
            color: lightsteelblue;
        }
        .dark-mode .shrink-border {
            background-color: rgba(0, 0, 0, 0.36);
            color: white;
            border: 1.75px solid white;
          }
          
          .dark-mode .shrink-border:hover {
            background-color: transparent;
            box-shadow: none;
            color: white;
          }
          
          .dark-mode .shrink-border::before {
            border: 1.75px solid white;
          }
          
          .dark-mode .shrink-border::after {
            background-color: rgba(0, 0, 0, 0.36);
            border: 1.75px solid white;
          }
          .dark-mode .refreshButton {
            color: white;
            box-shadow: 0 0 1.105vw 0.205vw #36261e;
            background-color: #36261e;
        }
          .dark-mode .refreshButton:hover {
            color: rgb(255, 209, 123);
        }
        /*-------*/