body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: fit-content;
    max-width: 75%;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 20px;
}

.grade-input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#graph-container {
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.input-container input {
    margin-left: 0;
}
.input-container label{
    margin-right: 100%;
}
#graph {
    width: 75%;
    height: 75%;
}